.container {
  background: var(--color-d-100);
  padding: 0 10px;

  .block {
    padding: 6.59% 0 0;

    > h2 {
      font-size: clamp(var(--f-s-medium), 5vw, var(--f-s-big));
    }

    .blockImg {
      position: relative;
      margin: 5% 0;

      .img {
        padding: 0 0 42% 0;

        > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .item {
      > p {
        font-family: var(--f-roboto);
        font-size: var(--f-s-light);
        font-weight: 100;
        line-height: var(--f-l-medium);
        letter-spacing: var(--f-interval-normal);
      }
    }
  }
}