.logo {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
  >svg{
    width: 45px;
  }

  &:hover {
    > svg > g {
      fill: var(--color-d-900);
      transition: all .4s ease 0s;

    }

    .text {
      color: var(--color-medium-500);
      transition: all .4s ease 0s;
    }
  }

  > svg > g {
    fill: var(--color-medium-500);
    transition: all .4s ease 0s;
  }

  .text {
    font-size: var(--f-s-bigXXL);
    color: var(--color-d-900);
    margin: 0 0 0 5px;
    transition: all .4s ease 0s;

    > p {
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
  }
}