.container {
  .blockItem {
    display: flex;
    font-size: var(--f-s-light);
    color: var(--color-d-300);
    border: 1px solid var(--color-d-300);
    background: transparent;

    .btn {
      all: unset;
      cursor: pointer;
      padding: 5px 15px;
      background: transparent;
      transition: background .3s ease 0s;

      &:hover, .isActive {
        background: var(--color-medium-500);
        color: var(--color-light-100);
        outline: 1px solid var(--color-medium-500);
        box-shadow: var(--color-medium-sh);
        transition: background .3s ease 0s,
        color .3s ease 0s,
        box-shadow .3s ease 0s;
      }
    }

    .isActive {
      background: var(--color-medium-500);
      color: var(--color-light-100);
      outline: 1px solid var(--color-medium-500);
      box-shadow: var(--color-medium-sh);

    }

  }
}
