.container {
  flex: 1 1 50%;
  margin: 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;

  > label {
    font-family: var(--f-roboto);
    color: var(--color-d-300);
    line-height: 2;

    width: 100%;
    font-size: clamp(var(--f-s-light), 5vw, var(--f-s-medium));
    margin: 0 0 3.04% 0;
  }

  textarea, input {
    width: 100%;
    resize: vertical;
    padding: 1.37% 3.04%;
  }
}
