.container {
  background: var(--color-d-100);
  padding: 0 0 0 0;

  .blocFree{
    padding: 20px 0 0;
    text-align: center;
  }

  .blockLogin {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: var(--pad-block-top-bot);
  }
}

