.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  flex: 0 1 auto;
  font-family: var(--f-roboto);
  font-weight: 400;
  font-size: var(--f-s-medium);


  .page, .pageActive, .paginatorBut button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: 5px;
    border: 1px solid var(--color-light-300);
    border-radius: 4px;
    background: var(--color-light-100);
    color: var(--color-d-900);
    transition: background .3s ease 0s, color .3s ease 0s;
  }
  .pageActive,
  .page:hover,
  .paginatorBut button:hover{
    background: var(--color-medium-500);
    color: var(--color-light-100);
    border: var(--color-medium-500);
    transition: all .3s ease 0s;
  }

  .paginatorBut {
    display: flex;
  }

}