.containerFooter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-medium-500) 0 0/cover fixed;
  z-index: 1;

  .bcFoot {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-size: 10vw;
    height: 100%;
    color: var(--color-medium-bc);
    z-index: -1;
    overflow: hidden;

    > div:first-child {
      display: flex;
      align-items: start;
    }

    > div:last-child {
      display: flex;
      align-items: end;
      line-height: 0.5;
    }
  }

  .blockFoot {
    display: flex;
    min-height: 100px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      .describeLinks {
        color: var(--color-light-100);

        > p {
          width: 100%;
          font-size: clamp(var(--f-s-light), 5vw, var(--f-s-medium));
          margin: 1% 5% 5% 0;
        }
      }
    }
  }

  .reserved {
    color: var(--color-light-300);
    font-size: clamp(var(--f-s-light), 5vw, var(--f-s-medium));
  }
}