.h2 {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  font-size: clamp(var(--f-s-medium), 5vw, var(--f-s-big));

  .circle{
    display: block;
    width: 10px;
    height: 10px;
    background: var(--color-medium-500);
    border-radius: 50%;
  }

  .left{
    margin: 0 15px 0 0;
    padding: 0 10px 0 0;
  }

  .right{
    margin: 0 0 0 15px;
  }
}

.decoration {
  flex: 1 1 auto;
  height: 4px;
  border-top: 1px solid var(--color-d-300);
  border-bottom: 1px solid var(--color-d-300);
  margin: 0 10px 0;
}