:root {
  //light-----------
  --color-light-100: #fff;
  --color-light-300: #D0D0D0;
  //medium-----------
  //dark-------------
  --color-d-300: #808080;
  --color-d-900: #000;
  //error--------------
  --color-err-500: red
}