:root {
  //COLORS =================================================
  //light-----------
  --color-light-100: #fff;
  --color-light-300: #D0D0D0;
  --color-light-trans: rgba(255, 255, 255, 0.2);

  //medium-----------
  --color-medium-500:#2962ff;
  --color-medium-bc: #4a7bff;
  --color-medium-sh:0 10px 18px 0 rgb(50 112 252 / 27%);
  //dark-------------
  --color-d-100: rgba(247, 247, 247, 1);
  --color-d-300: #808080;
  --color-d-900: #000;
  //error--------------
  --color-err-500: red;

  //SIDE =================================================
  --pad-block-top-bot:6.667% 0;

}