@font-face {
  font-family: 'League Spartan';
  src: local('@/assets/fonts/spartan/LeagueSpartan-Bold.eot');
  src: url('@/assets/fonts/spartan/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/spartan/LeagueSpartan-Bold.woff2') format('woff2'),
  url('@/assets/fonts/spartan/LeagueSpartan-Bold.woff') format('woff'),
  url('@/assets/fonts/spartan/LeagueSpartan-Bold.ttf') format('truetype'),
  url('@/assets/fonts/spartan/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('@/assets/fonts/roboto/Roboto-Medium.eot');
  src: url('@/assets/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('@/assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
  url('@/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype'),
  url('@/assets/fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  //SPARTAN
  --f-spartan: 'League Spartan', sans-serif;
  //ROBOTO
  --f-roboto: 'Roboto', sans-serif;

  //FONTS SIZE -----------------
  --f-s-light: 1rem;
  --f-s-medium: 1.125rem;
  --f-s-mediumL: 1.375rem;
  --f-s-big: 1.75rem;
  --f-s-bigXXL: 2.375rem;

  //FONTS LINE ------------------
  --f-l-medium: 1.75rem;

  //FONT INTERVAL ---------------
  --f-interval-normal: 0.058125rem
}

